@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Ovo&family=Titillium+Web:ital,wght@0,400;0,700;1,400&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

/* font-family: 'Newsreader', serif;
font-family: 'Ovo', serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'UnifrakturCook', cursive;
font-family: 'UnifrakturMaguntia', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;

    /* debug border */
    /* border: 1px solid red; */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/* Header */
.header {
    background: deepskyblue;
    display: flex;
    justify-content: space-between;
}

.keyword-wrapper {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 10px;
}

.keyword__label {
    padding-left: 10px;
}

.keyword__bar {
    flex: 1;
    border: none;
}

.keyword__button {
    border-radius: 4px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    
}

.navigation {
    margin: 0;

    list-style-type: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
}

.navigation a:hover {
    background: rgb(0, 136, 255);
}

/* Main */
.product-header {
    display: flex;
    justify-content: flex-end;
}

.product-header__title {
    flex: 1;
}

.selector-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.product-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;

    margin: 20px auto 20px auto;
}

.product {
    display: flex;
    flex-flow: column nowrap;
}

.product__name {
    font-weight: bold;
}

.product__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.product img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid grey;
    box-shadow: 4px 4px 4px grey;
}

/* Footer */
.footer__wrapper {
    background: deepskyblue;
}

.footer__text {
    text-align: center;
}

/* Media Query */
@media (max-width: 768px) {
    .navigation {
        justify-content: space-around;
    }

    .header {
        flex-flow: column wrap;
    }
}

@media (max-width: 640px) {
    .navigation {
        flex-flow: column wrap;
        /* padding: 0; */
    }
    
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }

}
